# fly.toml app configuration file generated for littlesteps-ai on 2025-12-21T11:52:32Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'littlesteps-ai'
primary_region = 'lhr'

[build]
  dockerfile = "Dockerfile.prod"

[env]
  NEXT_PUBLIC_BETTER_AUTH_URL = "https://littlesteps-ai.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[deploy]
  release_command = "pnpm drizzle-kit migrate"